*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    border-bottom: 1px solid lightgray;
}
.navbar_header{
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100%;
    align-items: flex-start;
    padding: 30px;
}
.navbar_logo{
    object-fit: contain;
    height: 60px;
    margin-right: 50px;
    border-radius: 50%;
}

.dropdown button{
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 24px 30px;
    border-radius: 999px;
    width: 75vh;
    max-width: 560px;
}
.dropdown-menu{
    width: 100%;
}
.dropdown-item{
   text-align: center;
}