*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
    background-color: antiquewhite;
}

.container{
    padding: 40px;
    width: auto;
    height: auto;
}
.logo img{
  width: 100%;
  max-width: 100px;
  height: auto;
}
.brand{
    font-size: 20px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav_left {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
}
.nav_right{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
}
@media only screen and (max-width: 600px) {
    .brand{
        display: none;
    }
    

}